@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #101010;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background-color: var(--background-color);
}

.full-page-component {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
